<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Fujia Wu</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="static/css/style.css" type="text/css" />
</head>

<body>


<div id="container">

<div id="sidebar">
<h1>Science & Engineering</h1>
<h2>&mdash; engines of prosperity</h2> 

<div id="menu">

   {% block menu %}
   {% endblock %}
</div>


<div id="links">
     <h1>Links:</h1>
   {% block links %}
     <a href="http://scholar.google.com/citations?hl=en&user=0YjkhtsAAAAJ">My Google Citations</a>
   {% endblock%}
</div>



</div>

<div id="header">

<h1>Fujia Wu &nbsp 吴复甲</h1>
<h2>D103 Engineering Quad, Olden Street, Princeton, NJ 08544</h2>
<h2>Email: <a href="mailto:fujiawu@princeton.edu">fujiawu@princeton.edu</a>
           &nbsp
           <a href="mailto:wufujia@gmail.com">wufujia@gmail.com</a>
</h2>
<h2>Office: (609)258-5178 &nbsp Cell: (609)865-9961</h2>
<br/>

</div>

<div id="content">


   {% block content %}
   {% endblock %}

</div>

<div id="footer">
<p>&copy; fujiawu.com</p>
</div>

<br style="clear:both"/>

</div>

</body>
</html>

