  {% extends "base.html" %}

  {% block menu %}

<a href="/">Home</a>
<a class="active" href="experience">Experience</a> 
<a href="research">Research</a> 
<a href="publication">Publication</a> 
<a href="others">Others</a> 
 
  {% endblock %}
 

  {% block content %}

    <h1>Education</h1>
    <ul>
       <li><strong>Ph.D., Princeton University, Princeton, NJ</strong></br>
          Mechanical &amp; Aerospace Engineering</br>
       </li>
       <li><strong>M.E. 2008, Tsinghua University, Beijing, China</strong></br>
          Engineering Thermophysics</br>
       </li>
       <li><strong>B.E. 2006, Tsinghua University, Beijing, China</strong></br>
          Vehicle Engineering</br>
       </li>
    </ul>

    <h1>Honors and Awards</h1>
    <ul>
     <li><strong>Bernard Lewis Fellowship</strong>, by The Combustion Institute, to encourage high quality research in combustion by young scientists and engineers, awarded to no more than five recipients in the world every two years, 2014</li>
     <li><strong>Runner-up for the Best Presentation</strong>, "Ignition, Propagation and 
             Acceleration of Expanding Flames", Annual Research Day Prize, Department
             of Mechanical & Aerospace Engineering, Princeton University, September 13, 
             2013</li>
     <li><strong>First Place Award</strong>, "Three Faces of An Expanding Flame", 
          Technical Merit of the Combustion Art Competition, 8th U.S. National 
      Combustion Meeting, Park City, Utah, May 19-22, 2013</li>
     <li><strong>Best Presentation Award</strong>, "New Fundamental Understandings of Flame Chemistry and Dynamics from Experimentation on Expanding Flames", First International Education Forum on Environment and Energy 
      Science, Big Island, Hawaii, December 14-18, 2012</li>
     <li><strong>George H. Markstein Best Paper Award</strong>, "Laminar Flame Speeds of Cyclohexane and Monoalkylated Cyclohexanes at Elevated Pressures", Technical Meeting of the Eastern States Section
      of the Combustion Institute, Storrs, Connecticut, October 9-12, 2011</li>
     <li><strong>Cummins Merit Fellowship</strong>, Princeton University, 2008</li>
     <li><strong>Excellent Undergraduate Award</strong>, Tsinghua University, 2005</li>
    </ul>
 
  {% endblock %}
