  {% extends "base.html" %}

  {% block menu %}

<a class="active" href="/">Home</a>
<a href="experience">Experience</a> 
<a href="research">Research</a> 
<a href="publication">Publication</a> 
<a href="others">Others</a> 
 
  {% endblock %}
 

  {% block content %}

   <h1>About me</h1>

   <img class="face" src="static/img/fujiawu-small-web.jpg" alt="Fujia Wu" />

   </br>
   
   <p>I am currently a Postdoctoral Research Associate in <a href="http://www.princeton.edu/mae">
Mechanical and Aerospace Engineering</a> at <a href="http://www.princeton.edu">Princeton University</a>, 
working in the <a href="http://lcg.princeton.edu">Law Combustion Group</a>. I obtained a Ph.D. 
and a M.A. in Mechanical and Aerospace Engineering from Princeton University in 2014 
and 2010. My research focus is on the computation, experimentation and modeling of laminar and turbulent 
premixed combustion. Before coming to Princeton, I have a B.E. in Vehicle Engineering and M.E. in 
Engineering Thermophysics from the <a href="http://www.dae.tsinghua.edu.cn">Department of Automotive Engineering</a> 
at <a href="http://www.thu.edu.cn">Tsinghua University</a> in 2006 and 2008. 

   <p>I am a member of <a href="https://www.combustioninstitute.org">the Combustion Institute</a>, 
   <a href="https://www.asme.org">the American Society of Mechanical Engineers (ASME)</a>,
   <a href="https://www.aiaa.org">the American Institute of Aeronautics and Astronautics (AIAA)</a>, and
   <a href="http://www.aps.org">the American Physical Society (APS)</a>. </p>

   <p>Here is my <a href="static/file/fujiawu-cv.pdf">Curriculum Vitae</a>. Please send me an 
   <a href="mailto:fujiawu@princeton.edu">email</a> for questions. </p>

  {% endblock %}
