  {% extends "base.html" %}

  {% block menu %}

<a class="active" href="/">Home</a>
<a href="experience">Experience</a> 
<a href="research">Research</a> 
<a href="publication">Publication</a> 
 
  {% endblock %}
 

  {% block content %}

<h1>About me</h1>

<p>I am currently a 5th graduate student in Mechanical and Aerospace Engineering at Princeton University. 
I work with Professor Chung K. Law on fundamental combustion research. 
My specific projects are on the dynamics and chemistry of premixed flames. 
The research is important in developing models for both turbulent combustion and combustion chemistry. </p>

<img class="face" src="static/img/fujiawu-large.jpg" alt="Fujia Wu" />

  {% endblock %}
