  {% extends "base.html" %}

  {% block menu %}

<a href="/">Home</a>
<a href="experience">Experience</a> 
<a href="research">Research</a> 
<a href="publication">Publication</a> 
<a class="active" href="others">Others</a> 
 
  {% endblock %}
 

  {% block content %}

  <h1>Three Faces of An Expanding Flame</h1>


  <a href="static/img/ThreeFaces.jpg"><img class="thumbnail-right" src="static/img/threeface-small.jpg" href="princeton.edu" alt="Three Faces"/></a>
  <p class="caption-right">(click picture)</p> 
  <p>The figure on the right called "Three Faces of An Expanding" is a good summary of my research at Princeton. The work won the First Place Award 
     for the Technical Merit of the Combustion Art Competition at the 8th US National Combustion Meeting. It was also selected into the 
     <a href="http://www.princeton.edu/artofscience/gallery2013/gallery.php%3Fp=2.html">Princeton Art of Science 2013 Gallery</a>.

  <p>The three images are snap shots of a spark-ignited expanding flame in different environments of the same hydrogen-air mixture. 
     The top flame shows the ideal, reference case of a stable, smooth flame surface in a quiescent environment at atmospheric pressure. 
     The middle flame is taken under elevated pressure simulating that within an internal combustion engine. 
     The flame surface is hydrodynamically unstable and develops cells, causing the flame to burn faster due to the increased flame surface area.
     The bottom flame is taken in a highly turbulent environment which simulates another aspect of the engine interior. 
     Now the flame surface is distorted by the multi-scale turbulence, which again leads to an increase of the burning rate.

  <p>As a display in <a href="http://www.princeton.edu/artofscience/gallery2013/gallery.php%3Fp=2.html">Princeton Art of Science 2013 Gallery</a>
    , is has also been covered in many new media, including: </p> 

  <ul>
  <li>NBCNews:
  <a href="http://www.nbcnews.com/id/51817535/displaymode/1247?beginSlide=1">http://www.nbcnews.com/id/51817535/displaymode/1247?beginSlide=1</a> 
  </li>

  <li>Facebook:
  <a href="https://www.facebook.com/artofsci">https://www.facebook.com/artofsci</a>
  </li>

  <li>Discover Magazine:
  <a href="http://discovermagazine.com/galleries/2013/may/scientists-turn-experiments-into-art#.UaZUadI3tNm">http://discovermagazine.com/galleries/2013/may/scientists-turn-experiments-into-art#.UaZUadI3tNm</a>
  </li>

  <li>Laughing Squid:
  <a href="http://laughingsquid.com/art-of-science-a-princeton-university-art-gallery-featuring-artistic-science-photos-and-diagrams/">http://laughingsquid.com/art-of-science-a-princeton-university-art-gallery-featuring-artistic-science-photos-and-diagrams/</a>
  </li>

  

  </ul>

  {% endblock %}
