  {% extends "base.html" %}

  {% block menu %}

<a href="/">Home</a>
<a href="experience">Experience</a> 
<a href="research">Research</a> 
<a class="active" href="publication">Publication</a> 
<a href="others">Others</a> 
 
  {% endblock %}
 

  {% block content %}

  <h1>Theses</h1>
  <ul>
     <li> Ph.D. Thesis: "Dynamics and Chemistry of Laminar and Turbulent Expanding Flames"
     <a href="static/file/fujiawu-phd-thesis.pdf">PDF</a>
     <a href="static/file/fujiawu-phd-thesis-figures.zip">Figures</a>
     </li>
     <li>Masters' Thesis: "Using Biodiesel Based Oxygenated Blend Fuels for Reducing Emissions from Diesel Engines" (in Chinese)
     <a href="static/file/fujiawu-master-thesis.pdf">PDF</a>
     </li>
  </ul>


  <h1>Peer-Reviewed Journal Articles</h1>
  <ol>
     <li>Chung K. Law, Fujia Wu, Fokion N. Egolfopoulos, Vyaas Gururajan, and Hai Wang. On the rational interpretation of data on laminar flame speeds and ignition delay times. <em>Combustion Science and Technology</em>, 2015; 187: 27-36. <a href="static/file/j-wu-cst-2015.pdf">PDF</a></li>
     <li>Fujia Wu, Wenkai Liang, Zheng Chen, Yiguang Ju, and Chung K. Law. Uncertainty of extrapolation of laminar flame speed from expanding spherical flames. <em>Proceedings of the Combustion Institute</em>, 2015; 35: 663-670. <a href="static/file/j-wu1-proci-2014.pdf">PDF</a></li>
     <li>Fujia Wu, Abhishek Saha, Swetaprovo Chaudhuri, and Chung K. Law. Fuel similarity of turbulent flames for C4-C8 n-AlkanesFuel similarity of turbulent flames for C4-C8 n-Alkanes. <em>Proceedings of the Combustion Institute</em>, 2015; 35: 1501-1508. <a href="static/file/j-wu2-proci-2014.pdf">PDF</a></li>
     <li>Xiaoyu Li, Xiaoqing You, Fujia Wu, and Chung K. Law. Uncertainty analysis of the kinetic model prediction for high-pressure H2/CO combustion. <em>Proceedings of the Combustion Institute</em>, 2015; 35: 617-624. <a href="static/file/j-li-proci-2014.pdf">PDF</a></li>
     <li>Fujia Wu, Abhishek Saha, Swetaprovo Chaudhuri, and Chung K. Law. Facilitated ignition in turbulence through differential diffusion. <em>Physical Review Letters</em>, 2014; 113: 024503. <a href="static/file/j-wu-prl-2014.pdf">PDF</a></li>
     <li>Swetaprovo Chaudhuri, Fujia Wu, and Chung K. Law. Turbulent flame speed scaling for expanding flames with Markstein diffusion considerations. <em>Physical Review E</em>, 2013; 88: 033005. <a href="static/file/j-chaudhuri-pre-2013.pdf">PDF</a> </li>
     <li>Fujia Wu and Chung K. Law. An experimental and mechanistic study on the laminar flame speed, Markstein length and flame chemistry of the butanol isomers. <em>Combustion and Flame</em>, 2013; 160: 2744-2756. <a href="static/file/j-wu-cnf-2013.pdf">PDF</a></li>
     <li>Fujia Wu, Grunde Jomaas, and Chung K. Law. An experimental investigation on self-acceleration of cellular spherical flames. <em>Proceedings of the Combustion Institute</em>, 2013; 1: 937-945. <a href="static/file/j-wu-proci-2013.pdf">PDF</a> </li>
     <li>Fujia Wu, Andrew P. Kelley, and Chung K. Law. Laminar flame speeds of cyclohexane and mono-alkylated cyclohexanes at elevated pressures. <em>Combustion and Flame</em>, 2012; 159: 1417-1425. <a href="static/file/j-wu-cnf-2012.pdf">PDF</a> </li>
     <li>Swetaprovo Chaudhuri, Fujia Wu, Delin Zhu, and Chung K. Law. Flame speed and self-similar propagation of expanding turbulent premixed flames. <em>Physical Review Letters</em>, 2012; 108: 044503. <a href="static/file/j-chaudhuri-prl-2011.pdf">PDF</a> </li>
     <li>Fujia Wu, Andrew P. Kelley, Chenglong Tang, Delin Zhu, and Chung K. Law. Measurement and correlation of laminar flame speeds of CO and C2 hydrocarbons with hydrogen addition at atmospheric and elevated pressures. <em>International Journal of Hydrogen Energy</em> 2011; 36 (20): 13171-13180. <a href="static/file/j-wu-ijhe-2011.pdf">PDF</a> </li>
     <li>Jianxin Wang, Fujia Wu, Jianhua Xiao, and Shijin Shuai. Oxygenated blend design and its effects on reducing diesel particulate emissions. <em>Fuel</em> 2009; 88: 2037-2045. <a href="static/file/j-wang-fuel-2009.pdf">PDF</a> </li>
     <li>Fujia Wu, Jianxin Wang, Wenmiao Chen, and Shijin Shuai. A study on emission performance of a diesel engine fueled with five typical methyl ester biodiesels. <em>Atmospheric Environment</em> 2009; 43(7): 1481-1485.<a href="static/file/j-wu-ae-2009.pdf">PDF</a> </li>
     <li>Xu He, Xiao Ma, Fujia Wu, and Jianxin Wang. Visualization investigation of soot characteristics of engine fuelled with biodiesel fuel. <em>Chinese Internal Combustion Engine Engineering</em> 2009; 30(2): 1-5. (in Chinese) <a href="static/file/j-he1-cicee-2009.pdf">PDF</a> </li>
     <li>Xu He, Xiao Ma, Fujia Wu, and Jianxin Wang. Investigation on the soot formation of biodiesel fuel by laser diagnostics. <em>Chinese Internal Combustion Engine Engineering</em> 2009;30(1): 1-5. (in Chinese) <a href="static/file/j-he2-cicee-2009.pdf">PDF</a> </li>
     <li>Wenmiao Chen, Fujia Wu, Jianxin Wang, and Shijin Shuai. Effect of cetane number on combustion and emission of a Euro-IV diesel engine. <em>Chinese Internal Combustion Engine Engineering</em> 2008; 29(6): 1-5. (in Chinese) <a href="static/file/j-chen-cicee-2008.pdf">PDF</a> </li>
  </ol>
 
  <h1>Conference Publications</h1>
  <ol>
      <li>Fujia Wu, Wenkai Liang, Chung K. Law, and Zheng Chen. On the uncertainty of extrapolation of laminar flame speed and Markstein length from expanding spherical flames. <em>Technical Meeting of the Eastern States Section of the Combustion Institute</em>, Clemson University, South Carolina, October 13-16, 2013 <a href="static/file/c-wu1-essci-2013.pdf">PDF</a> </li>
      <li>Fujia Wu, Abhishek Saha, Swetaprovo Chaudhuri, and Chung K. Law. An investigation on fuel similarity of turbulent flames for C4-C8 n-Alkanes. <em>Technical Meeting of the Eastern States Section of the Combustion Institute</em>, Clemson University, South Carolina, October 13-16, 2013 <a href="static/file/c-wu2-essci-2013.pdf">PDF</a> </li>
      <li>Fujia Wu and Chung K. Law. Laminar flame speed, Markstein length and flame chemistry of the butanol isomers from 1 atm to 5 atm. <em>8th US National Combustion Meeting</em>, Park City, Utah, May 19-22, 2013 <a href="static/file/c-wu-uncm-2013.pdf">PDF</a> </li>
      <li>Fujia Wu, Andrew Kelley, and Chung K. Law. Laminar flame speeds of cyclohexane and mono-alkylated cyclohexanes at elevated pressures. <em>Technical Meeting of the Eastern States Section of the Combustion Institute</em>, Storrs, Connecticut, October 9-12, 2011 (George H. Markstein Best Paper Award) <a href="static/file/c-wu1-essci-2011.pdf">PDF</a> </li>
      <li>Fujia Wu, Grunde Jomaas, and Chung K. Law. On self-acceleration of cellular spherical flames.<em>Technical Meeting of the Eastern States Section of the Combustion Institute</em>, Storrs, Connecticut, October 9-12, 2011 <a href="static/file/c-wu2-essci-2011.pdf">PDF</a> </li>
      <li>Fujia Wu, John Bechtold, and Chung K. Law. Effects of variable thermodynamic and transport properties on Markstein number and flame front stability. <em>Technical Meeting of the Eastern States Section of the Combustion Institute</em>, Storrs, Connecticut, October 9-12, 2011 <a href="static/file/c-wu3-essci-2011.pdf">PDF</a> </li>
      <li>Swetaprovo Chaudhuri, Fujia Wu, Delin Zhu, and Chung K. Law. Turbulent flame speeds and self similarity of expanding premixed flames. <em>Technical Meeting of the Eastern States Section of the Combustion Institute</em>, Storrs, Connecticut, October 9-12, 2011 <a href="static/file/c-chaudhuri-essci-2011.pdf">PDF</a> </li>
      <li>Fujia Wu, Andrew P. Kelley, Delin Zhu, and Chung K. Law. Further study on effects of hydrogen addition on laminar flame speeds of fuel-air mixtures. <em>7th US National Combustion Meeting</em>, Atlanta, Georgia, March 20-23, 2011 <a href="static/file/c-wu-uncm-2011.pdf">PDF</a> </li>
      <li>Fujia Wu, Jianxin Wang, Wenmiao Chen, and Shijin Shuai. Effects of different biodiesels and their blends with oxygenated additives on emissions from a diesel engine. SAE Technical Paper 2008-01-1812, <em>Society of Automotive Engineers Fuels and Lubricants Congress</em>, Shanghai, China, June 23-26, 2008 <a href="static/file/c-wu-sae-2008.pdf">PDF</a> </li>
     <li>Xu He, Xiao Ma, Fujia Wu, Jianxin Wang, and Shijin Shuai. Investigation of soot formation in laminar diesel diffusion flame by two-color laser induced incandescence. SAE Technical Paper 2008-01-1064, <em>Society of Automotive Engineers World Congress</em>, Detroit, USA, April 14-17, 2008 <a href="static/file/c-he-sae-2008.pdf">PDF</a> </li>
     <li>Wenmiao Chen, Jianxin Wang, Shijin Shuai, and Fujia Wu. Effects of fuel quality on a Euro IV diesel engine with SCR after-treatment. SAE Technical Paper 2008-01-0638, <em>Society of Automotive Engineers World Congress</em>, Detroit, USA, April 14-17, 2008 <a href="static/file/c-chen-sae-2008.pdf">PDF</a> </li>
     <li>Wenmiao Chen, Fujia Wu, Jianxin Wang, and Shijin Shuai. Effects of diesel fuel quality on engine emission characteristics.<em>Chinese Automotive Powertrain Conference</em>, Tianjin, China, September 6-9, 2007 (in Chinese) <a href="static/file/c-chen-apc-2007.pdf">PDF</a> </li>
     <li>Wenmiao Chen, Jianxin Wang, Shijin Shuai, and Fujia Wu. Effect of sulfur in diesel fuel on engine performance. <em>First Meeting of Oil Product and Clean Fuels Branch of Chinese Society for Internal Combustion Engines</em>, Beijing, China, May 20-21, 2007 (in Chinese) <a href="static/file/c-chen-opcf-2007.pdf">PDF</a></li>
  </ol>

  <h1>Other Conference Presentations</h1>
  <ol>
      <li>Fujia Wu, Abhishek Saha, Swetaprovo Chaudhuri, Sheng Yang, and Chung K. Law. Similarity and scaling of turbulent flame speeds for expanding premixed flames of C4-C8 n-alkanes. <em>66th Annual Meeting of the APS Division of Fluid Dynamics</em>, Pittsburgh, Pennsylvania, November 24-26, 2013</li>
      <li>Fujia Wu and Chung K. Law. Three faces of an expanding flame. <em>Princeton Research Symposium</em>, Princeton, NJ, October 20, 2013</li>
      <li>Fujia Wu and Chung K. Law. Ignition, Propagation and Acceleration of Expanding Flames, <em>Princeton University MAE Annual Research Day</em>, Princeton, New Jersey, September 13, 2013 (Runner-up for the Best Presentation)</li>
      <li>Fujia Wu and Chung K. Law. New fundamental understandings of flame chemistry and dynamics from experimentation on expanding premixed flames. <em>The First International Education Forum on Environment and Energy Science</em>, Big Island, Hawaii, December 14-18, 2012 (Best Presentation Award)</li>
      <li>Swetaprovo Chaudhuri, Fujia Wu and Chung K. Law. Turbulent flame speed scaling for positive Markstein number expanding flames in near isotropic turbulence. <em>65th Annual Meeting of the APS Division of Fluid Dynamics</em>, San Diego, California, November 18-20, 2012</li>
      <li>Swetaprovo Chaudhuri, Fujia Wu, Delin Zhu and Chung K. Law. Turbulent flame speed and self similarity of expanding premixed flames. <em>64th Annual Meeting of the APS Division of Fluid Dynamics</em>, Baltimore, Maryland, November 20-22, 2011</li>
      <li>Xu He, Xiao Ma, Fujia Wu, and Jianxin Wang. Investigation of soot formation in the oxygenated fuels flame by laser induced fluorescence and incandescence. <em>7th International Conference on Modeling and Diagnostics for Advanced Engine Systems</em>, Sapporo, Japan, June 28-31, 2008</li>
  </ol>

  <h1>Patents</h1>
  <ul>
     <li>Jianxin Wang, Fujia Wu, Jianhua Xiao, and Shijin Shuai. Oxygen-containing blended fuel for reducing small particle emission of diesel car. Publication No. CN 101338227, Published in People's Republic of China on January 7, 2009 (in Chinese) <a href="static/file/p-wang-china-2008.pdf">PDF</a> </li>
  </ul>

  {% endblock %}
