body {
   margin: 0px 0px;
   color:#303030; 
   background-image:url('/static/img/pattern4.jpg'); 
   background-repeat:repeat;
   font:76% Verdana,Tahoma,sans-serif;
}

#container {
   width: 900px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 20px; 
   padding: 0px;
   border: 2px solid #000000;
   background: #e0e0e0;
}

#sidebar {
   float: left;
   width: 220px; 
   background: #e0e0e0;
   text-align:right;
}

#sidebar h1 {
   margin:20px 18px 0 5px;
   color:#A1B449; 
   font-size:1.2em; 
   letter-spacing:-1px; 
   text-align:right;
   font-weight:bold;
}

#sidebar h2 {
   margin:0 20px 18px 5px;
   color:#808080; 
   font-size:1.1em; 
   font-weight:bold;
   letter-spacing:-1px;
   text-align:right;
   font-weight:bold;
}

#sidebar p {
   margin:0 20px 18px 5px;
   color:#606060;
   font-size:0.8em;
}

#sidebar a {
   color:#707070
}

#menu a {
   display:block;
   width:202px;
   padding:5px 18px 5px 0;
   color:#505050;
   background:#e0e0e0; 
   font-size:1.8em;
   font-weight:normal;
   text-decoration:none;
   letter-spacing:-2px;
}

#menu a:hover {
   color:#303030;
   background:#ffffff;
}

#menu a.active {
   padding:5px 18px 5px 0;
   background:#ffffff;
   border-top:2px solid #c0c0c0;
   border-bottom:2px solid #c0c0c0;
}

#menu a.active:hover {
   color:#505050;
   background:#ffffff;
}

#links {
   margin: 100px 0 0 0;
   text-align: center;
}

#links h1 {
   text-align: center;
   margin:0 0 5px 0; 
   line-height:1.5em; 
   font-size:1.7em;
}

#links a {
   display: block;
   width: 202px;
   /*height: 25px; */
   padding: 9px 9px;
   text-align: center;
   text-decoration: none;
   font-size:1.2em;
   color:#000099;
}

#links a:hover {
   text-decoration: underline;
}

#header {
   float: left;
   top:0; left:220px;
   padding: 30px 0 60px 0;
   width:680px; height:100px; 
   background:#ffffff;
}

#header h1 {
   margin:0; 
   color:#A1B449;
   font-size:2.5em;
   letter-spacing:-1px;
   text-align:center;
}

#header h2 {
   margin:0;
   color:#606060;
   font-weight:normal;
   font-size:1.2em;
   letter-spacing:0px;
   text-align:center;
   line-height:1.4em;
}

#header a {
   font-size:1em;
   color:#000099;
   font-weight:normal;
   text-decoration:none;
}

#content {
   float: left;
   width: 640px;
   margin: 0 0 0 0px;
   padding: 0 20px 0 20px; 
   background:#ffffff;
}

#content p {
   margin:0 0 20px 0; 
   line-height:1.5em; 
   font-size:1.2em;
   font-color: #291b1b;
}

#content h1 {
   margin:0px 0 20px 0;
   color:#A1B449;
   font-weight:normal;
   font-size: 1.9em; 
   letter-spacing:-1px;
}

#content a {
   font-size:1em;
   color:#000099;
   font-weight:normal;
   text-decoration:none;
}

#content ul li {
   list-style:square;
   margin:0; color:#291b1b;
   font-size:1.3em;
   text-align:left;
   font-weight:normal;
   padding:4px;
}

#content ul li ul li {
   list-style:square;
   margin:0; color:#291b1b;
   font-size:1em;
   text-align:left;
   font-weight:normal;
   padding:0px;
   position: relative;
   left: -20px;
}

#content ol li {
   margin:0; color:#291b1b;
   font-size:1.3em;
   text-align:left;
   font-weight:normal;
   padding:4px;
}

#content img.face {
   float: right;
   margin: 0px 20px 20px 20px;
   width: 220px;
}

#content img.thumbnail-right {
   float: right;
   margin: 0px 20px 20px 20px;
   width: 220px;
   clear: both;
}

#content p.caption-right {
   float: right;
   clear: both;
   display: block;
   width: 220px;
   position: relative;
   left: -20px;
   text-align: center;
   font-size: 1.2em;
   font-weight: bold;
}

#footer {
   float: right;
   width: 640px;
   margin: 0 0 0 0px;
   padding: 0 20px 0 20px; 
   background:#ffffff;
}

#footer p {
   text-align: center;
   margin:20px 0px; 
   line-height:1.5em; 
   font-size:1.2em;
}

